{% extends "base.html" %}

{% block title %}Сбросьте свой пароль{% endblock %}

{% block content %}
    <h1>Сбросьте свой пароль</h1>
    {% if validlink %}
        <p>Пожалуйста, введите свой новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Смените мой пароль" /></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она
        уже был использован. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif %}
{% endblock %}